@font-face {
  font-family: "Basic";
  src: url("./fonts/Basic-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Cutesy";
  src: url("./fonts/LxgwWenKaiMonoLatin-Light.ttf") format('truetype');

}


header {
    background-color: AliceBlue;
    padding: 01px;
    font-family: "Cutesy";
    text-align: left;
    color: black;


}

section{
background-color: black;
border-color: black;
border-size: 10px;

}
/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover{
  position: relative;
  display: inline-block;
  background-color: AliceBlue;
  color: Black;
  padding: 10px;

}

.dropdown:hover .dropdown-content {
  display: block;

}
</

/* Navigation:  */
nav {
  font-family: "Basic";
  float: left;
  width: 20%;
  border-width: 10px;
  border-color: black;
  height: 300px; /* only for demonstration, should be removed */
  background: AliceBlue;
  padding: 10px;
  list-style-type: none;
  text-align: left;
}


body {
    font-weight: normal;
    font-style: normal;
    float: center;
    font-family: Cutesy;
}


footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
  color: white;
}
